@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

:root {
  --h-pink: 338;
  --h-green: 80;
  --h-cyan: 190;
  --h-orange: 32;
  --h-purple: 261;

  --c-pink: hsl(var(--h-pink), 95%, 56%);
  --c-green: hsl(var(--h-green), 76%, 53%);
  --c-cyan: hsl(var(--h-cyan), 81%, 67%);
  --c-orange: hsl(var(--h-orange), 98%, 56%);
  --c-purple: hsl(var(--h-purple), 100%, 75%);

  --c-grey-15: hsl(0, 0%, 15%);
  --c-grey-30: hsl(0, 0%, 30%);
  --c-grey-45: hsl(0, 0%, 45%);
  --c-grey-60: hsl(0, 0%, 60%);
}

.cyan { color: var(--c-cyan); }
.pink { color: var(--c-pink); }
.grey-light { color: var(--c-grey-light); }
.text-bold { font-weight: 700; }

/* numline */
.vc-numline {
  border-collapse: collapse;
}
.vc-numline__num {
  border: none;
  text-align: right;
  padding: 2px 4px;
  background-color: var(--c-grey);
  color: var(--c-grey-light);
}
.vc-numline__line {
  padding: 2px 4px;
  color: white;
}
/* /numline */

/* tabs */
.vc-tabs {
  display: flex;
  background-color: var(--c-grey);
}

[class^=vc-tabs__tab] {
  padding: 4px 8px;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  font-weight: 700;
}

.vc-tabs__tab--active {
  background-color: hsl(0, 0%, 25%);
  color: var(--c-grey-light);
}
/* /tabs */

/* /radios */
.vc-radios {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 20px;
}
.vc-radios__label {
  width: 100%;
  color: white;
  cursor: pointer;
}
.vc-radios__input {
  position: absolute;
  opacity: 0;
}
.vc-radios__input:checked + .vc-radios__cursor {
  visibility: visible;
}
.vc-radios__cursor {
  visibility: hidden;
  background-color: var(--c-grey);
  color: var(--c-grey-light);
  display: inline-block;
  padding: 0 4px;
}

body {
  background-color: hsl(0, 0%, 10%);
  font-family: 'Inconsolata';
  font-size: 16px;
}
